{
  "swagger": "2.0",
  "info": {
    "title": "Product Service",
    "description": "API for managing products",
    "version": "v1",
    "contact": {
      "name": "Gemini Team",
      "email": "info@gemini-commerce.com"
    },
    "license": {
      "name": "Gemini fair use license",
      "url": "https://gemini-commerce.com/api/fair-use-license"
    }
  },
  "tags": [
    {
      "name": "Product"
    }
  ],
  "host": "product.api.gogemini.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/product.Product/AddMediaGalleryEntry": {
      "post": {
        "operationId": "Product_AddMediaGalleryEntry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productAddMediaGalleryEntryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productAddMediaGalleryEntryRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/BulkAddAssetsEntries": {
      "post": {
        "summary": "Assets endpoints",
        "operationId": "Product_BulkAddAssetsEntries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productBulkAddAssetsEntriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productBulkAddAssetsEntriesRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/BulkCreateAttribute": {
      "post": {
        "operationId": "Product_BulkCreateAttribute",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerBulkCreateAttributeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerBulkCreateAttributeRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/BulkDeleteProducts": {
      "post": {
        "operationId": "Product_BulkDeleteProducts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productBulkDeleteProductsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productBulkDeleteProductsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/BulkRemoveAssetsEntries": {
      "post": {
        "operationId": "Product_BulkRemoveAssetsEntries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productBulkRemoveAssetsEntriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productBulkRemoveAssetsEntriesRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/BulkUpdate": {
      "post": {
        "operationId": "Product_BulkUpdate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productBulkUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productBulkUpdateRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ],
        "deprecated": true
      }
    },
    "/product.Product/BulkUpdateAssetsEntries": {
      "post": {
        "operationId": "Product_BulkUpdateAssetsEntries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productBulkUpdateAssetsEntriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productBulkUpdateAssetsEntriesRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/BulkUpdateV2": {
      "post": {
        "operationId": "Product_BulkUpdateV2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productBulkUpdateResponseV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productBulkUpdateRequestV2"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/CreateAttributeGroup": {
      "post": {
        "operationId": "Product_CreateAttributeGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerAttributeGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerCreateAttributeGroupRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/CreateAttributeOptions": {
      "post": {
        "operationId": "Product_CreateAttributeOptions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerCreateAttributeOptionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerCreateAttributeOptionsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/CreateEntity": {
      "post": {
        "operationId": "Product_CreateEntity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerCreateEntityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerEntity"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/CreateOptionsList": {
      "post": {
        "operationId": "Product_CreateOptionsList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerCreateOptionsListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerCreateOptionsListRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/CreateProduct": {
      "post": {
        "operationId": "Product_CreateProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productCreateProductResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productCreateProductRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ],
        "deprecated": true
      }
    },
    "/product.Product/CreateProductV2": {
      "post": {
        "operationId": "Product_CreateProductV2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productCreateProductResponseV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productCreateProductRequestV2"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/Delete": {
      "post": {
        "operationId": "Product_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productDeleteRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ],
        "deprecated": true
      }
    },
    "/product.Product/DeleteAttribute": {
      "post": {
        "operationId": "Product_DeleteAttribute",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerDeleteAttributeRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/DeleteProduct": {
      "post": {
        "operationId": "Product_DeleteProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productDeleteProductResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productDeleteProductRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetAttributeGroup": {
      "post": {
        "operationId": "Product_GetAttributeGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerAttributeGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerGetAttributeGroupRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetAttributeOption": {
      "post": {
        "operationId": "Product_GetAttributeOption",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerGetAttributeOptionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerGetAttributeOptionRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetAttributeOptions": {
      "post": {
        "operationId": "Product_GetAttributeOptions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerGetAttributeOptionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerGetAttributeOptionsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetEntity": {
      "post": {
        "operationId": "Product_GetEntity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerEntityRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetOptionsList": {
      "post": {
        "operationId": "Product_GetOptionsList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerGetOptionsListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerGetOptionsListRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetProduct": {
      "post": {
        "operationId": "Product_GetProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productGetProductResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productGetProductRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetProductByCode": {
      "post": {
        "operationId": "Product_GetProductByCode",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productGetProductByCodeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productGetProductByCodeRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/GetProductByUrlKey": {
      "post": {
        "operationId": "Product_GetProductByUrlKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productGetProductByUrlKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productGetProductByUrlKeyRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListAttributeGroups": {
      "post": {
        "summary": "Attribute Groups endpoints",
        "operationId": "Product_ListAttributeGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerListAttributeGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerListAttributeGroupsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListAttributeOptions": {
      "post": {
        "operationId": "Product_ListAttributeOptions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerListAttributeOptionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerListAttributeOptionsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListEntities": {
      "post": {
        "operationId": "Product_ListEntities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerListEntitiesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerListEntitiesRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListOptionsLists": {
      "post": {
        "operationId": "Product_ListOptionsLists",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerListOptionsListsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerListOptionsListsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListProducts": {
      "post": {
        "operationId": "Product_ListProducts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productListProductsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productListProductsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListProductsByIds": {
      "post": {
        "operationId": "Product_ListProductsByIds",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productListProductsByIdsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productListProductsByIdsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListProductsBySku": {
      "post": {
        "operationId": "Product_ListProductsBySku",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productListProductsBySkuResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productListProductsBySkuRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/ListVariantsBySku": {
      "post": {
        "operationId": "Product_ListVariantsBySku",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productListVariantsBySkuResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productListVariantsBySkuRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/RemoveMediaGalleryEntry": {
      "post": {
        "operationId": "Product_RemoveMediaGalleryEntry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productRemoveMediaGalleryEntryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productRemoveMediaGalleryEntryRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/UpdateAttribute": {
      "post": {
        "operationId": "Product_UpdateAttribute",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerAttribute"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerUpdateAttributeRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/UpdateAttributeGroup": {
      "post": {
        "operationId": "Product_UpdateAttributeGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerAttributeGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerUpdateAttributeGroupRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/UpdateAttributeOptions": {
      "post": {
        "summary": "rpc GetAttributeOptionByCode (product.entitymanager.GetAttributeOptionByCodeRequest) returns (product.entitymanager.GetAttributeOptionByCodeResponse) {}",
        "operationId": "Product_UpdateAttributeOptions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerUpdateAttributeOptionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerUpdateAttributeOptionsRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/UpdateMediaGalleryEntry": {
      "post": {
        "operationId": "Product_UpdateMediaGalleryEntry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productUpdateMediaGalleryEntryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productUpdateMediaGalleryEntryRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/UpdateOptionsList": {
      "post": {
        "operationId": "Product_UpdateOptionsList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/entitymanagerUpdateOptionsListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entitymanagerUpdateOptionsListRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/product.Product/UpdateProduct": {
      "post": {
        "operationId": "Product_UpdateProduct",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productUpdateProductResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productUpdateProductRequest"
            }
          }
        ],
        "tags": [
          "Product"
        ],
        "deprecated": true
      }
    },
    "/product.Product/UpdateProductV2": {
      "post": {
        "operationId": "Product_UpdateProductV2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/productUpdateProductResponseV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productUpdateProductRequestV2"
            }
          }
        ],
        "tags": [
          "Product"
        ]
      }
    }
  },
  "definitions": {
    "BulkUpdateAssetsEntriesRequestUpdateEntity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "payload": {
          "$ref": "#/definitions/productUpdateAssetEntryPayload"
        },
        "payloadMask": {
          "type": "string"
        }
      }
    },
    "ListProductsRequestFilter": {
      "type": "object",
      "properties": {
        "createdAtStart": {
          "type": "string",
          "format": "date-time",
          "title": "optional"
        },
        "createdAtEnd": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAtStart": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAtEnd": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "type": "boolean"
        }
      }
    },
    "entitymanagerAttribute": {
      "type": "object",
      "properties": {
        "entityId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/entitymanagerTypes"
        },
        "optionList": {
          "type": "string"
        },
        "entity": {
          "type": "string"
        },
        "default": {
          "type": "string"
        },
        "isRequired": {
          "type": "boolean"
        },
        "isSystem": {
          "type": "boolean"
        },
        "isRepeated": {
          "type": "boolean"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        },
        "groupCode": {
          "type": "string"
        },
        "title": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "renderAs": {
          "$ref": "#/definitions/entitymanagerRenderAs"
        }
      }
    },
    "entitymanagerAttributeGroup": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "label": {
          "$ref": "#/definitions/productentitymanagerLocalizedText"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        },
        "visibility": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "array of section codes (e.g. \"pim\", \"configurator\"), in which the attribute group is visible (empty array means visible everywhere)"
        }
      }
    },
    "entitymanagerAttributeOption": {
      "type": "object",
      "properties": {
        "option": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sort": {
          "type": "integer",
          "format": "int64"
        },
        "id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/productentitymanagerLocalizedText"
        },
        "swatches": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOptionSwatch"
          }
        }
      }
    },
    "entitymanagerAttributeOptionErrors": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "option": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "entitymanagerAttributeOptionSwatch": {
      "type": "object",
      "properties": {
        "grn": {
          "type": "string"
        },
        "hex": {
          "type": "string"
        }
      }
    },
    "entitymanagerAttributeWriteError": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string"
        },
        "attributeCode": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "entitymanagerAttributeWriteErrors": {
      "type": "object",
      "properties": {
        "attributeWriteErrors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeWriteError"
          }
        }
      }
    },
    "entitymanagerBulkCreateAttributeRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "entityData": {
          "$ref": "#/definitions/entitymanagerEntityIdentifier"
        },
        "entityId": {
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttribute"
          }
        }
      }
    },
    "entitymanagerBulkCreateAttributeResponse": {
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttribute"
          }
        }
      }
    },
    "entitymanagerCreateAttributeGroupRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "label": {
          "$ref": "#/definitions/productentitymanagerLocalizedText"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        },
        "visibility": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "array of section codes (e.g. \"pim\", \"configurator\"), in which the attribute group is visible (empty array means visible everywhere)"
        }
      }
    },
    "entitymanagerCreateAttributeOptionsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listCode": {
          "type": "string"
        },
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOption"
          }
        }
      }
    },
    "entitymanagerCreateAttributeOptionsResponse": {
      "type": "object",
      "properties": {
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOption"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOptionErrors"
          }
        }
      }
    },
    "entitymanagerCreateEntityResponse": {
      "type": "object",
      "properties": {
        "attributeWriteErrors": {
          "$ref": "#/definitions/entitymanagerAttributeWriteErrors"
        },
        "entity": {
          "$ref": "#/definitions/entitymanagerEntity"
        }
      }
    },
    "entitymanagerCreateOptionsListRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "optionList": {
          "$ref": "#/definitions/entitymanagerOptionsList"
        }
      }
    },
    "entitymanagerCreateOptionsListResponse": {
      "type": "object",
      "properties": {
        "optionList": {
          "$ref": "#/definitions/entitymanagerOptionsList"
        }
      }
    },
    "entitymanagerDeleteAttributeRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "entityData": {
          "$ref": "#/definitions/entitymanagerEntityIdentifier"
        },
        "entityId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "entitymanagerEntity": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "parentCode": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "relationships": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttribute"
          }
        }
      }
    },
    "entitymanagerEntityIdentifier": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "entitymanagerEntityRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "entityData": {
          "$ref": "#/definitions/entitymanagerEntityIdentifier"
        },
        "entityId": {
          "type": "string"
        }
      }
    },
    "entitymanagerGetAttributeGroupRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "entitymanagerGetAttributeOptionRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listCode": {
          "type": "string"
        },
        "optionId": {
          "type": "string"
        }
      }
    },
    "entitymanagerGetAttributeOptionResponse": {
      "type": "object",
      "properties": {
        "option": {
          "$ref": "#/definitions/entitymanagerAttributeOption"
        }
      }
    },
    "entitymanagerGetAttributeOptionsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "optionIds": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerGetAttributeOptionsRequestOption"
          }
        }
      }
    },
    "entitymanagerGetAttributeOptionsRequestOption": {
      "type": "object",
      "properties": {
        "listCode": {
          "type": "string"
        },
        "optionId": {
          "type": "string"
        }
      }
    },
    "entitymanagerGetAttributeOptionsResponse": {
      "type": "object",
      "properties": {
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerGetAttributeOptionsResponseOption"
          }
        }
      }
    },
    "entitymanagerGetAttributeOptionsResponseOption": {
      "type": "object",
      "properties": {
        "listCode": {
          "type": "string"
        },
        "option": {
          "$ref": "#/definitions/entitymanagerAttributeOption"
        }
      }
    },
    "entitymanagerGetOptionsListRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listCode": {
          "type": "string"
        }
      }
    },
    "entitymanagerGetOptionsListResponse": {
      "type": "object",
      "properties": {
        "optionList": {
          "$ref": "#/definitions/entitymanagerOptionsList"
        }
      }
    },
    "entitymanagerListAttributeGroupsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        }
      }
    },
    "entitymanagerListAttributeGroupsResponse": {
      "type": "object",
      "properties": {
        "attributeGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeGroup"
          }
        }
      }
    },
    "entitymanagerListAttributeOptionsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listCode": {
          "type": "string"
        }
      }
    },
    "entitymanagerListAttributeOptionsResponse": {
      "type": "object",
      "properties": {
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOption"
          }
        }
      }
    },
    "entitymanagerListEntitiesRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "entitymanagerListEntitiesResponse": {
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerEntity"
          }
        },
        "nextPage": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "entitymanagerListOptionsListsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        }
      }
    },
    "entitymanagerListOptionsListsResponse": {
      "type": "object",
      "properties": {
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerOptionsList"
          }
        }
      }
    },
    "entitymanagerOptionsList": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "entitymanagerRenderAs": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "WYSIWYG"
      ],
      "default": "DEFAULT"
    },
    "entitymanagerTypes": {
      "type": "string",
      "enum": [
        "TEXT",
        "NUMBER",
        "BOOLEAN",
        "DATETIME",
        "EXTERNAL",
        "EMBED",
        "FLOAT32"
      ],
      "default": "TEXT"
    },
    "entitymanagerUpdateAttributeGroupRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "payload": {
          "$ref": "#/definitions/entitymanagerUpdateAttributeGroupRequestPayload"
        },
        "fieldMask": {
          "type": "string"
        }
      }
    },
    "entitymanagerUpdateAttributeGroupRequestPayload": {
      "type": "object",
      "properties": {
        "label": {
          "$ref": "#/definitions/productentitymanagerLocalizedText"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        },
        "visibility": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "array of section codes (e.g. \"pim\", \"configurator\"), in which the attribute group is visible (empty array means visible everywhere)"
        }
      }
    },
    "entitymanagerUpdateAttributeOptionsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listCode": {
          "type": "string"
        },
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOption"
          }
        }
      }
    },
    "entitymanagerUpdateAttributeOptionsResponse": {
      "type": "object",
      "properties": {
        "options": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOption"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/entitymanagerAttributeOptionErrors"
          }
        }
      }
    },
    "entitymanagerUpdateAttributeRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "entityData": {
          "$ref": "#/definitions/entitymanagerEntityIdentifier"
        },
        "entityId": {
          "type": "string"
        },
        "payload": {
          "$ref": "#/definitions/entitymanagerUpdateAttributeRequestPayload"
        },
        "fieldMask": {
          "type": "string"
        }
      }
    },
    "entitymanagerUpdateAttributeRequestPayload": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "default": {
          "type": "string"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        },
        "groupCode": {
          "type": "string"
        },
        "title": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "renderAs": {
          "$ref": "#/definitions/entitymanagerRenderAs"
        }
      }
    },
    "entitymanagerUpdateOptionsListRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "optionList": {
          "$ref": "#/definitions/entitymanagerOptionsList"
        }
      }
    },
    "entitymanagerUpdateOptionsListResponse": {
      "type": "object",
      "properties": {
        "optionList": {
          "$ref": "#/definitions/entitymanagerOptionsList"
        }
      }
    },
    "productAddMediaGalleryEntryRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "assetGrn": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productMediaGalleryEntryMetadata"
          }
        }
      }
    },
    "productAddMediaGalleryEntryResponse": {
      "type": "object",
      "properties": {
        "mediaGalleryEntry": {
          "$ref": "#/definitions/productMediaGalleryEntry"
        }
      }
    },
    "productAssetData": {
      "type": "object",
      "properties": {
        "assetGrn": {
          "type": "string"
        },
        "localizedAssetGrn": {
          "$ref": "#/definitions/productLocalizedAsset"
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetsEntryMetadata"
          }
        }
      }
    },
    "productAssets": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetsEntry"
          }
        }
      }
    },
    "productAssetsEntry": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "assetGrn": {
          "type": "string"
        },
        "localizedAssetGrn": {
          "$ref": "#/definitions/productLocalizedAsset"
        },
        "locales": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetsEntryMetadata"
          }
        }
      }
    },
    "productAssetsEntryMetadata": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alt": {
          "$ref": "#/definitions/productLocalizedText"
        }
      }
    },
    "productAttributeResponseError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "attributeCode": {
          "type": "string"
        }
      }
    },
    "productBulkAddAssetsEntriesRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetData"
          }
        }
      }
    },
    "productBulkAddAssetsEntriesResponse": {
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetsEntry"
          }
        }
      }
    },
    "productBulkDeleteProductsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "productBulkDeleteProductsResponse": {
      "type": "object"
    },
    "productBulkRemoveAssetsEntriesRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "productBulkRemoveAssetsEntriesResponse": {
      "type": "object"
    },
    "productBulkUpdateAssetsEntriesRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/BulkUpdateAssetsEntriesRequestUpdateEntity"
          }
        }
      }
    },
    "productBulkUpdateAssetsEntriesResponse": {
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetsEntry"
          }
        }
      }
    },
    "productBulkUpdateRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "payload": {
          "$ref": "#/definitions/productBulkUpdateRequestPayload"
        }
      }
    },
    "productBulkUpdateRequestPayload": {
      "type": "object",
      "properties": {
        "updateMask": {
          "$ref": "#/definitions/productFieldMask"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "productBulkUpdateRequestV2": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "payload": {
          "$ref": "#/definitions/productBulkUpdateRequestV2Payload"
        }
      }
    },
    "productBulkUpdateRequestV2Payload": {
      "type": "object",
      "properties": {
        "updateMask": {
          "$ref": "#/definitions/productFieldMask"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "productBulkUpdateResponse": {
      "type": "object",
      "properties": {
        "productResponse": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productBulkUpdateResponseResponse"
          }
        }
      }
    },
    "productBulkUpdateResponseResponse": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "productBulkUpdateResponseV2": {
      "type": "object",
      "properties": {
        "productResponse": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productBulkUpdateResponseV2Response"
          }
        }
      }
    },
    "productBulkUpdateResponseV2Response": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "productCreateProductRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "entityCode": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "isConfigurable": {
          "type": "boolean"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isVirtual": {
          "type": "boolean"
        },
        "isGiftcard": {
          "type": "boolean"
        },
        "hasConfigurator": {
          "type": "boolean"
        },
        "urlKey": {
          "$ref": "#/definitions/productLocalizedText"
        },
        "maxSaleableQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "mediaVariantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "variants": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/productProductVariant"
          }
        }
      }
    },
    "productCreateProductRequestV2": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "entityCode": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "isConfigurable": {
          "type": "boolean"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isVirtual": {
          "type": "boolean"
        },
        "isGiftcard": {
          "type": "boolean"
        },
        "hasConfigurator": {
          "type": "boolean"
        },
        "urlKey": {
          "$ref": "#/definitions/productLocalizedText"
        },
        "maxSaleableQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "variants": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/productProductVariant"
          }
        },
        "mediaVariantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "productCreateProductResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "productErrors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productProductResponseError"
          }
        },
        "attributeErrors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAttributeResponseError"
          }
        }
      }
    },
    "productCreateProductResponseV2": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "productDeleteProductRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "productDeleteProductResponse": {
      "type": "object"
    },
    "productDeleteRequest": {
      "type": "object",
      "properties": {
        "product": {
          "$ref": "#/definitions/productProductEntity"
        }
      }
    },
    "productDeleteResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        }
      }
    },
    "productFieldMask": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "productGetProductByCodeRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "productGetProductByCodeResponse": {
      "type": "object",
      "properties": {
        "product": {
          "$ref": "#/definitions/productProductEntity"
        }
      }
    },
    "productGetProductByUrlKeyRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "urlKey": {
          "type": "string"
        },
        "locale": {
          "type": "string"
        }
      }
    },
    "productGetProductByUrlKeyResponse": {
      "type": "object",
      "properties": {
        "product": {
          "$ref": "#/definitions/productProductEntity"
        }
      }
    },
    "productGetProductRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "productGetProductResponse": {
      "type": "object",
      "properties": {
        "product": {
          "$ref": "#/definitions/productProductEntity"
        }
      }
    },
    "productListProductsByIdsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "productListProductsByIdsResponse": {
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productProductEntity"
          }
        }
      }
    },
    "productListProductsBySkuRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        }
      }
    },
    "productListProductsBySkuResponse": {
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productProductEntity"
          }
        }
      }
    },
    "productListProductsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "pageSize": {
          "type": "string",
          "format": "uint64"
        },
        "pageToken": {
          "type": "string"
        },
        "filter": {
          "$ref": "#/definitions/ListProductsRequestFilter"
        },
        "filterMask": {
          "type": "string"
        }
      }
    },
    "productListProductsResponse": {
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productProductEntity"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "productListVariantsBySkuRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        }
      }
    },
    "productListVariantsBySkuResponse": {
      "type": "object",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productProductVariant"
          }
        }
      }
    },
    "productLocalizedAsset": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "productLocalizedText": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "productMediaGallery": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productMediaGalleryEntry"
          }
        }
      }
    },
    "productMediaGalleryEntry": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "assetGrn": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productMediaGalleryEntryMetadata"
          }
        }
      }
    },
    "productMediaGalleryEntryMetadata": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alt": {
          "$ref": "#/definitions/productLocalizedText"
        }
      }
    },
    "productProductEntity": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "grn": {
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "type": "string"
        },
        "entityCode": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isConfigurable": {
          "type": "boolean"
        },
        "isVirtual": {
          "type": "boolean"
        },
        "isGiftcard": {
          "type": "boolean"
        },
        "hasConfigurator": {
          "type": "boolean"
        },
        "urlKey": {
          "$ref": "#/definitions/productLocalizedText"
        },
        "mediaVariantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "variants": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/productProductVariant"
          }
        },
        "mediaGallery": {
          "$ref": "#/definitions/productMediaGallery"
        },
        "maxSaleableQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "assets": {
          "$ref": "#/definitions/productAssets"
        },
        "createdAt": {
          "type": "string",
          "format": "int64"
        },
        "updatedAt": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "productProductResponseError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "productProductVariant": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "grn": {
          "type": "string",
          "readOnly": true
        },
        "maxSaleableQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "productRemoveMediaGalleryEntryRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "productRemoveMediaGalleryEntryResponse": {
      "type": "object"
    },
    "productUpdateAssetEntryPayload": {
      "type": "object",
      "properties": {
        "assetGrn": {
          "type": "string"
        },
        "localizedAssetGrn": {
          "$ref": "#/definitions/productLocalizedAsset"
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAssetsEntryMetadata"
          }
        }
      }
    },
    "productUpdateMediaGalleryEntryRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "assetGrn": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productMediaGalleryEntryMetadata"
          }
        }
      }
    },
    "productUpdateMediaGalleryEntryResponse": {
      "type": "object"
    },
    "productUpdateProductRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "attributesMask": {
          "$ref": "#/definitions/productFieldMask"
        },
        "urlKey": {
          "$ref": "#/definitions/productLocalizedText"
        },
        "maxSaleableQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "mediaVariantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "variants": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/productProductVariant"
          }
        }
      }
    },
    "productUpdateProductRequestV2": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "attributesMask": {
          "$ref": "#/definitions/productFieldMask"
        },
        "urlKey": {
          "$ref": "#/definitions/productLocalizedText"
        },
        "maxSaleableQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "variants": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/productProductVariant"
          }
        },
        "mediaVariantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "productUpdateProductResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "productErrors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productProductResponseError"
          }
        },
        "attributeErrors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productAttributeResponseError"
          }
        }
      }
    },
    "productUpdateProductResponseV2": {
      "type": "object"
    },
    "productentitymanagerLocalizedText": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\nExample 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nExample 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "standardAuthorization": {
      "type": "oauth2",
      "name": "Authorization",
      "in": "header",
      "flow": "implicit"
    }
  }
}
